html {
    background: url("../img/taxi.jpg") no-repeat  100% bottom fixed;
    background-size: cover;


}
* {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
    padding: 0;
    margin: 0;
    height: 100%;

}

body {
    -webkit-touch-callout: none;
    -webkit-text-size-adjust: none;
    -webkit-user-select: none;
    padding: 0;
}

.form {
    width: 75%;
    height: auto;
    z-index: 99;
}

.block {
    height: 100%;
    padding: 0;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button, .fields {

    box-sizing: border-box;
    background-color: rgba(255, 255, 255, 0.7);
    width: 100%;
    height: 40px;
    margin: 5px 0 5px 0;
    border: 1px solid black;
    padding: 5px;
}

.fields {
    background: white;
    color: gray;
}

.button {
    background: black;
    color: lightgray;
}

span {
    color: white;
    font-family: "Helvetica Neue Light", "Lucida Grande", "Calibri", "Arial", sans-serif;
}

#reg_button:disabled {
    background-color: darkgrey !important;
}



.collapsed_order {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#status, #orders_list > li {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Helvetica Neue Light", "Lucida Grande", "Calibri", "Arial", sans-serif;
    background-color: rgba(255, 255, 255, 0.7);
    width: 95vw;
    height: auto;
    margin: 10px;
    padding: 5px;
    border: 1px solid black;
}

.hidden {
    display: none;
    overflow: hidden;
}

.hidden > .text {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

dt {
    float: left;
    clear: left;
}

dd {
    float: right;
}

.popup_block{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    overflow: hidden;
    position: fixed;
    top: 0px;
}

.popup_content {
    width: 80%;
    height: 80px;
    overflow: auto;

    position: fixed;

    padding: 10px;
    border: black 1px solid;
    text-align: center;
    background: darkgray;
}

.text {
    font-family: "Helvetica Neue Light", "Lucida Grande", "Calibri", "Arial", sans-serif;
}


